@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #ededed;
  --terciary: #9d16d3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-terciary: var(--terciary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anton: var(--Anton-Regular);
  --font-literata: var(--literata-all);
  --font-heading-now-small: var(--heading-now-small);
  --font-heading-now-medium: var(--heading-now-medium);
  --font-heading-now-larger: var(--heading-now-larger);
  --font-dm-sans: var(--dm-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hand-bg-gradient {
  background-image: linear-gradient(to right, #171717 0%, #f633bcd7 40%, #f08800d7 60%, #171717 100%);
  /* linear-gradient(to bottom, black, #00000000, black); */
}

.font-console {
  font-family: Mono, Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

@property --ebox-offset-size {
  syntax: "*";
  inherits: false;
}

@property --ebox-line-color {
  syntax: "<percentage>";
  inherits: false;
}

@utility ebox-line-* {
  --ebox-line-color: --value(--color-*, [color]);
  --ebox-line-color: --modifier(--color-*, [color]);
}

@utility ebox-* {

  &::before {
    z-index: -30;
    content: "";
    position: absolute;
    border-width: 0 1px 1px 0;
    --ebox-offset-size: --value(integer)%;

    left: 0px;
    /* width: calc(--value(integer)% + 100%); */
    width: calc(100% + --value(integer)px);
    height: calc(100% + --value(integer)px);
    background-color: --value(--color-*, [color]);
    background-color: --modifier(--color-*, [color]);

    /* clip-path: polygon(0 0, 100% 0, calc(100% + --value(integer)px) --value(integer)px, calc(100% + --value(integer)px) calc(100% + --value(integer)px), --value(integer)px calc(100% + --value(integer)px), 0 100%); */
    /* clip-path: polygon(0 0, 90% 0, 90% 10%, 100% 100%, 10% 90%, 0 100%); */

    clip-path: polygon(0 0, 0 calc(100% - --value(integer)px), --value(integer)px 100%, 100% 100%, 100% --value(integer)px, calc(100% - --value(integer)px) 0%);
    /* clip-path: polygon(0 0, 0 calc(100% - --value(integer)px), 5% 100%, 100% 100%); */
    /* clip-path: polygon(0); */
    /* clip-path: polygon(0% 0%, 0% 95%, 5% 100%, 100% 100%, 100% 5%, 95% 0%); */
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 20;

    left: 100%;
    top: 100%;
    width: --value(integer)px;
    height: --value(integer)px;
    transform-origin: top left;
    background-color: var(--ebox-line-color);

    clip-path: polygon(0 1px, 1px 0, 100% 98%, 98% 100%);
  }
}

@utility ebox-top-perspective-* {
  &::before {
    bottom: -1px;
    transform: rotateX(180deg);
    animation: b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }

  &::after {
    transform-origin: center left;
    bottom: calc(100% - 2px);
    transform: rotateX(180deg);
    animation: a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@utility ebox-re-top-perspective-* {
  &::before {
    bottom: -1px;
    transform: rotateX(180deg);
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
    animation: r-b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }

  &::after {
    transform-origin: center left;
    bottom: calc(100% - 1px);
    transform: rotateX(180deg);
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
    animation: r-a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(-120%);
  }
}

@utility ebox-perspective-* {
  &::before {
    top: 0px;
    animation: b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }

  &::after {
    top: 100%;
    animation: a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@utility ebox-re-perspective-* {
  &::before {
    top: 0px;
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
    animation: r-b --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;

  }

  &::after {
    top: 100%;
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
    animation: r-a --modifier(integer, [integer])ms ease-in-out forwards;
    animation-delay: --value(integer, [integer])ms;
  }
}

@keyframes b {
  1% {
    clip-path: polygon(var(--ebox-offset-size) 100%, 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% var(--ebox-offset-size), 100% 100%);
  }

  100% {
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
  }
}

@keyframes r-b {
  1% {
    clip-path: polygon(var(--ebox-offset-size) calc(100% - var(--ebox-offset-size)), 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% 0%, 100% calc(100% - var(--ebox-offset-size)));
  }

  100% {
    clip-path: polygon(var(--ebox-offset-size) 100%, 0% calc(100% - var(--ebox-offset-size)), 0% 0%, calc(100% - var(--ebox-offset-size)) 0%, 100% var(--ebox-offset-size), 100% 100%);
  }
}

@keyframes a {
  1% {
    clip-path: polygon(0 1px, 1px 0, 100% 98%, 98% 100%);
  }

  100% {
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
  }
}

@keyframes r-a {
  1% {
    clip-path: polygon(0 1px, 1px 0, 100% 0%, 98% 2%);
  }

  100% {
    clip-path: polygon(0 1px, 1px 0, 100% 98%, 98% 100%);
  }
}

@utility shadow-solid-* {
  box-shadow: --modifier(integer, [integer])px --value(integer, [integer])px var(--tw-shadow-color);
}

@utility -shadow-solid-* {
  box-shadow: calc(--modifier(integer, [integer]) * -1px) --value(integer, [integer])px var(--tw-shadow-color);
}

@utility text-shadow-solid-* {
  text-shadow: --modifier(integer, [integer])px --value(integer, [integer])px var(--tw-text-shadow-color);
}


@property --x-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --y-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --z-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@utility isobox-x-* {
  --x-size: --value(integer);
}

@utility isobox-y-* {
  --y-size: --value(integer);
}

@utility isobox-z-* {
  --z-size: --value(integer);
}

.face {
  transform-origin: 0 0;
  position: absolute;
}

.front {
  height: calc(var(--y-size) * 1px);
  width: calc(var(--z-size) * 1px);
  -ms-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
  -webkit-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
  transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
}

.top {
  height: calc(var(--z-size) * 1px);
  width: calc(var(--x-size) * 1px);
  -ms-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
  -webkit-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
  transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
}

.side {
  height: calc(var(--x-size) * 1px);
  width: calc(var(--y-size) * 1px);
  -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
  -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
}


@property --grid-size {
  syntax: "*";
  inherits: true;
}

@utility iso-grid-size-* {
  --grid-size: --value(integer);
}

@utility iso-isobox-x-* {
  --x-size: --value(integer);
  /* --x-size: calc(--value(integer)px * var(--grid-size)); */
}

@utility iso-isobox-y-* {
  --y-size: --value(integer);
  /* --y-size: calc(--value(integer)px * var(--grid-size)); */
}

@utility iso-isobox-z-* {
  --z-size: --value(integer);
  /* --z-size: calc(--value(integer)px * var(--grid-size)); */
}

/*TODO CAMBIAR NOMBRE D ESTOS DOS A OFFSET */
@utility iso-coords-x-* {
  top: calc((((var(--x-size) * var(--grid-size) * 1px) - (var(--grid-size) * 1px)) * -1) + (--value(integer)px * var(--grid-size)));
}

@utility iso-coords-y-* {
  left: calc((((var(--x-size) * var(--grid-size) * 1px) - (var(--grid-size) * 1px)) * -1) + (--value(integer)px * var(--grid-size)));
}

@utility plane-coords-x-* {
  top: calc(--value(integer)px * var(--grid-size));
}

@utility plane-coords-y-* {
  left: calc(--value(integer)px * var(--grid-size));
}

.iso-normal {
  transform: scaleY(1.1574) translate(0px, 0px) skewX(30deg) rotate(30deg);
}

.iso-on-iso-normal {
  -ms-transform: skew(0deg) translate(0px, 0px) scale(1.2028) rotate(30deg);
  -webkit-transform: skew(0deg) translate(0px, 0px) scale(1.2028) rotate(30deg);
  transform: skew(0deg) translate(0px, 0px) scale(1.2028) rotate(30deg);
}


.iso-front {
  height: calc((var(--y-size) * var(--grid-size) * 1px));
  width: calc((var(--z-size) * var(--grid-size) * 1px));
  -ms-transform: rotate(150deg) skewX(-30deg) translate(0px, 0px) scaleY(0.864);
  -webkit-transform: rotate(150deg) skewX(-30deg) translate(0px, 0px) scaleY(0.864);
  transform: rotate(150deg) skewX(-30deg) translate(0px, 0px) scaleY(0.864);
}

.iso-top {
  height: calc((var(--z-size) * var(--grid-size) * 1px));
  width: calc((var(--x-size) * var(--grid-size) * 1px));
  -ms-transform: rotate(390deg) skew(-30deg) translate(0px, 0px) scaleY(0.864);
  -webkit-transform: rotate(390deg) skew(-30deg) translate(0px, 0px) scaleY(0.864);
  transform: rotate(390deg) skew(-30deg) translate(0px, 0px) scaleY(0.864);
}

.iso-side {
  height: calc((var(--x-size) * var(--grid-size) * 1px));
  width: calc((var(--y-size) * var(--grid-size) * 1px));
  -ms-transform: rotate(270deg) skewX(-30deg) scaleY(0.864) translate(0px, 0px);
  -webkit-transform: rotate(270deg) skewX(-30deg) scaleY(0.864) translate(0px, 0px);
  transform: rotate(270deg) skewX(-30deg) scaleY(0.864) translate(0px, 0px);
}

.normal {
  width: fit-content;
  height: fit-content;
  -ms-transform: skew(0deg) translate(0px, 0px) scale(0.864);
  -webkit-transform: skew(0deg) translate(0px, 0px) scale(0.864);
  transform: skew(0deg) translate(0px, 0px) scale(0.864);
}

@utility calculated-nodelink-* {
  width: calc(200px - calc(var(--x-size) * var(--grid-size) * 1px));
}

@utility fadeout-horizontal-* {
  mask-image: linear-gradient(to right, transparent, black --value(integer, [])px, black calc(100% - --value(integer, [])px), transparent);
}

@utility fadeout-vertical-* {
  mask-image: linear-gradient(to top, transparent, black --value(integer, [])px, black calc(100% - --value(integer, [])px), transparent);
}

@utility fadeout-right-* {
  mask-image: linear-gradient(to left, transparent, black --value(integer, [])px);
}

@utility fadeout-left-* {
  mask-image: linear-gradient(to right, transparent, black --value(integer, [])px);
}

@property --speed {
  syntax: "*";
  inherits: true;
}

@utility speed-* {
  --speed: --value(integer)s;
}

.marquee-track-x {
  width: max-content;
  animation: marquee-move-text-x var(--speed, 10s) linear infinite var(--direction, forwards);
}

.marquee-track-y {
  width: max-content;
  animation: marquee-move-text-y var(--speed, 10s) linear infinite var(--direction, forwards);
}

@keyframes marquee-move-text-x {
  to {
    transform: translateX(-50%);
  }
}


@keyframes marquee-move-text-y {
  to {
    transform: translateY(-50%);
  }
}

/* @media only screen and (max-width: 768px) {
  .wrapper {
    font-size: 1.2rem;
  }
} */

.noseb {
  animation: aaa 800ms ease-in-out backwards;

  &>p {
    opacity: 1;
    animation: nosea 800ms ease-in-out forwards;
  }
}

.nose {
  animation: aaa 800ms ease-in-out forwards;

  &>p {
    opacity: 1;
    animation: nosea 800ms ease-in-out forwards;
  }
}

@keyframes nosea {
  20% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aaa {
  0% {
    flex-direction: row;
  }

  30% {
    flex-direction: column;
  }

  100% {
    flex-direction: column;
  }
}

.delay-absolute {
  animation-delay: 800ms;
  animation: animate-absolute 500ms linear forwards;
}

.delay-absolute-f {
  animation-delay: 800ms;
  animation: animate-absolute 500ms linear backwards;
}

@keyframes animate-absolute {
  0% {
    position: relative;
  }

  49% {
    position: relative;
  }

  51% {
    position: static;
  }

  100% {
    position: static;
  }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
  /* neutral-700 */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
  /* neutral-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}

@utility narratory-* {
  &::before {
    content: "";
    z-index: 30;
    position: absolute;
    background-color: white;
    clip-path: polygon(0px 0px, 0px --value(integer)px, --value(integer)px calc(--value(integer)px / 2), calc(--value(integer)px - 1px) calc((--value(integer)px / 2) - 1px), 1px calc(--value(integer)px - 1px), 1px 0px);
    height: --value(integer)px;
    width: --value(integer)px;
  }

  &::after {
    content: "";
    z-index: 20;
    position: absolute;
    background-color: inherit;
    clip-path: polygon(0px 0px, 0px --value(integer)px, --value(integer)px calc(--value(integer)px / 2));
    height: --value(integer)px;
    width: --value(integer)px;
  }
}


@utility narratory-large-* {
  &::before {
    content: "";
    z-index: 30;
    position: absolute;
    background-color: white;
    /* clip-path: polygon(1% 0%, 1% 99%, 100% 49%); */
    /* clip-path: polygon(0px 0px, 0px 20px, 20px 10px, 19px 9px, 1px 19px, 1px 0px); */
    clip-path: polygon(0px 0px,
        calc(--value(integer, [integer])px / 2) --modifier(integer, [integer])px,
        --value(integer, [integer])px 0px,
        calc(--value(integer, [integer])px - 1px) 0px,
        calc(--value(integer, [integer])px / 2) calc(--modifier(integer, [integer])px - 1px),
        1px 0px);
    width: --value(integer, [integer])px;
    height: --modifier(integer, [integer])px;
  }

  &::after {
    content: "";
    z-index: 20;
    position: absolute;
    background-color: inherit;
    clip-path: polygon(0px 0px,
        calc(--value(integer, [integer])px / 2) --modifier(integer, [integer])px,
        --value(integer, [integer])px 0px);
    width: --value(integer, [integer])px;
    height: --modifier(integer, [integer])px;
  }
}

@property --objective-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@utility anim-graph-shrink-* {
  --objective-size: --modifier(integer, [integer]);
  --x-size: --modifier(integer, [integer]);
  animation: graph-shrink --value(integer, [integer])ms ease-in-out forwards;
}

@keyframes graph-shrink {
  1% {
    --x-size: 1;
  }

  50% {
    --x-size: 1;
  }

  100% {
    --x-size: var(--objective-size);
  }
}

/* @utility anim-graph-shrink-e-* {
  --objective-size: --modifier(integer, [integer]);
  --x-size: 5;
  animation: graph-shrink-e --value(integer, [integer])ms ease-in-out forwards;
}

@keyframes graph-shrink-e {
  1% {
    --x-size: 5;
  }

  50% {
    --x-size: 1;
  }

  100% {
    --x-size: 7;
  }
} */


.animate-underline {
  overflow: hidden;
  display: block;
}

.animate-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  /* transition: opacity 600ms, transform 600ms; */
  transform: translate3d(-100%, 0, 0);
}

.animate-underline:hover::after,
.animate-underline:focus::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.circular-7 {
  padding: 0 0.4em;
  line-height: 1.6em;
  -webkit-mask:
    radial-gradient(farthest-side at right, #0000 97%, #000) 0 0 /var(--d, 0px) 0.8em repeat-y,
    radial-gradient(farthest-side at left, #0000 97%, #000) 100% 0 /var(--d, 0px) 0.8em repeat-y,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: 0.3s, background 0.3s 0.3s, color 0.3s 0.3s;
}

.circular-7:hover {
  --d: 0.4em;
  background: #fff;
  color: #000;
  transition: 0.3s 0.3s, background 0.3s, color 0.3s;
}

.circular-8 {
  -webkit-mask:
    radial-gradient(farthest-side at bottom, #0000 87%, #e1e1e1) top /1.6em var(--d, 0px) repeat-x,
    radial-gradient(farthest-side at top, #0000 87%, #e1e1e1) bottom /1.6em var(--d, 0px) repeat-x,
    linear-gradient(#e1e1e1 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: 0.3s, background 0.3s 0.3s, color 0.3s 0.3s;

}

.circular-8:hover {
  --d: 0.4em;
  background: #e1e1e1;
  color: #fff;
  transition: 0.3s 0.3s, background 0.3s, color 0.3s;
}


@property --circular-color {
  syntax: "<color>";
  inherits: false;
}

@utility circular-9-* {
  --circular-color: --value(--color-*, [color]);
  position: relative;
  -webkit-mask:
    radial-gradient(farthest-side at bottom, #0000 97%, --value(--color-*, [color])) top /calc(--modifier(integer, [integer])em * 0.1) var(--d, 0px) repeat-x,
    radial-gradient(farthest-side at top, #0000 97%, --value(--color-*, [color])) bottom /calc(--modifier(integer, [integer])em * 0.1) var(--d, 0px) repeat-x,
    linear-gradient(--value(--color-*, [color]) 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: 0.3s, background 0.3s 0.3s, color 0.3s 0.3s;

  &::after {
    content: "";
    z-index: -10;
    height: calc(100% - 8px);
    width: 100%;
    top: 4px;
    left: 0;
    position: absolute;
    -webkit-mask:
      radial-gradient(farthest-side at bottom, #0000 97%, var(--color-background)) top /calc(--modifier(integer, [integer]) * 0.1em) var(--d, 0px) repeat-x,
      radial-gradient(farthest-side at top, #0000 97%, var(--color-background)) bottom /calc(--modifier(integer, [integer]) * 0.1em) var(--d, 0px) repeat-x,
      linear-gradient(var(--color-background) 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: 0.3s, background 0.3s 0.4s, color 0.3s 0.4s;
  }
}

@utility circular-9-animate-* {
  --d: calc(--value(integer, [integer])em * 0.1);
  background: var(--circular-color);
  /* color: #fff; */
  transition: 0.3s 0.3s, background 0.3s, color 0.3s;

  &::after {
    /* --d: calc(--value(integer, [integer])em * 0.1); */
    background: var(--color-background);
    /* color: #fff; */
    transition: 0.3s 0.3s, background 0.3s, color 0.3s;
  }
}


.morphing-3 {
  padding: 8px;
  box-shadow: 0 0 0px 80px var(--c, #0000);
  background: var(--c, #0000);
  transition: 0.3s 0.3s, clip-path 0.3s;
  clip-path: polygon(0 0, 20% 0, 30% 0, 40% 0, 50% 0, 60% 0, 70% 0, 80% 0, 100% 0, 100% 25%, 100% 50%, 100% 75%, 100% 100%, 80% 100%, 70% 100%, 60% 100%, 50% 100%, 40% 100%, 30% 100%, 20% 100%, 0 100%, 0 75%, 0 50%, 0 25%);
}

.morphing-3:hover {
  --c: #000;
  color: #fff;
  transition: 0.3s, clip-path 0.4s 0.3s;
  clip-path: polygon(-30px -30px, 20% 0, 20% -20px, 40% 0, 50% -30px, 60% 0, 80% -20px, 80% 0, calc(100% + 30px) -30px, 100% 25%, calc(100% + 25px) 50%, 100% 75%, calc(100% + 30px) calc(100% + 30px), 80% 100%, 80% calc(100% + 20px), 60% 100%, 50% calc(100% + 30px), 40% 100%, 20% calc(100% + 20px), 20% 100%, -30px calc(100% + 30px), 0 75%, -25px 50%, 0 25%);
}

.spiked-rectangle {
  padding: 8px;
  box-shadow: 0 0 0px 80px #bbf451;
  background: #bbf451;
  transition: 0.3s 0.3s, clip-path 0.3s;
  clip-path: polygon(-15px -15px,
      20% 0,
      20% -20px,
      40% 0,
      50% -15px,
      60% 0,
      80% -20px,
      80% 0,
      calc(100% + 15px) -15px,
      100% 25%,
      calc(100% + 25px) 50%,
      100% 75%,
      calc(100% + 15px) calc(100% + 15px),
      80% 100%,
      80% calc(100% + 20px),
      60% 100%,
      50% calc(100% + 15px),
      40% 100%,
      20% calc(100% + 20px),
      20% 100%,
      -15px calc(100% + 15px),
      0 75%,
      -25px 50%,
      0 25%);
}

.spiked-box {
  padding: 8px;
  box-shadow: 0 0 0px 80px #bbf451;
  background: #bbf451;
  transition: 0.3s 0.3s, clip-path 0.3s;
  clip-path: polygon(-15px -15px,
      20% 0,
      20% -20px,
      40% 0,
      50% -15px,
      60% 0,
      80% -20px,
      80% 0,
      calc(100% + 15px) -15px,
      /* calc(100% + 25px) 50%, */
      100% 20%,
      calc(100% + 20px) 20%,
      100% 40%,
      calc(100% + 15px) 50%,
      100% 60%,
      calc(100% + 20px) 80%,
      100% 80%,
      /* 100% 75%, */
      calc(100% + 15px) calc(100% + 15px),
      80% 100%,
      80% calc(100% + 20px),
      60% 100%,
      50% calc(100% + 15px),
      40% 100%,
      20% calc(100% + 20px),
      20% 100%,
      -15px calc(100% + 15px),
      /* 0 75%, */
      0 80%,
      -20px 80%,
      0 60%,
      -15px 50%,
      0 40%,
      -20px 20%,

      0 20%,
      /* -25px 50%, */
      0 25%);
}


@utility sides-1-* {
  padding: 10px;
  background:
    linear-gradient(--value(--color-*, [color]) 0 0) 50% --modifier(integer, [integer])px,
    linear-gradient(--value(--color-*, [color]) 0 0) --modifier(integer, [integer])px 50%,
    linear-gradient(--value(--color-*, [color]) 0 0) 50% calc(100% - --modifier(integer, [integer])px),
    linear-gradient(--value(--color-*, [color]) 0 0) calc(100% - --modifier(integer, [integer])px) 50%;
  background-size: 0% 1px, 1px 0%;
  background-repeat: no-repeat;
  transition: 0.8s;
}

@utility sides-1-animate {
  background-size: 100% 1px, 1px 100%;
}

.fancy-6 {
  padding: 0 10px;
  line-height: 1.4em;
  border-radius: 50px;
  background: radial-gradient(farthest-side, #000 98%, #0000) -1.4em 0/1.4em 1.4em,
    linear-gradient(90deg, #000 calc(100% - 0.7em), #0000 0) left/0% 100%;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.fancy-6:hover {
  color: #fff;
  background-size: 1.4em 1.4em, 100% 100%;
  background-position: right, left;
}


@property --degree {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@utility conic-fill-* {
  background: conic-gradient(from 120deg, --value(--color-*, [color]) calc(var(--degree, 0) * 1deg), #0000 0) 50% 50%/100% 100%;
  background-repeat: no-repeat;
}

.anim-conic-fill-forwards {
  --degree: 360;
  animation: fill-up 3s ease-in-out forwards;
}

.anim-conic-fill-backwards {
  --degree: 0;
  animation: empty-up 3s ease-in-out forwards;
}

@keyframes empty-up {
  from {
    --degree: 0;
  }

  to {
    --degree: 360;
  }
}

@keyframes fill-up {
  from {
    --degree: 360;
  }

  to {
    --degree: 0;
  }
}


/* 
asdasfas
asdasfas
asdasfas
asdasfas
asdasfas */